#root {
  max-width: 1280px;
  margin: 2.5rem;
  text-align: start;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.personalInfo{
display: flex;
flex-direction: column;
gap: 2rem;  
margin: 0 0 2.5rem 0;
align-content: start;
}
.input-label-cont{
display: flex;
flex-direction: column;
align-items: start;    
}
label{
/* position: relative;   */
display: flex;
flex-direction: column;
align-items: start;  
z-index: 1;
margin-left: .4em;
}
input{
  /* position: absolute; */
  background-color: rgba(255, 255, 255, 0);
  /* top: 20px;
  left: -2px;
  z-index: 5; */
  border: rgba(173, 216, 230, 0.377) 1px solid;
  padding: .5em;
}
.person-info-row{
display: flex;  
padding: 3em 0 0px 0;
align-items: start;
justify-content: start;
gap: 1rem;
}
input:valid,
input:focus:valid,
input:hover:valid{
border-bottom: green 2px solid;  
}
input:hover{
border-bottom: blue 2px solid;  
}
input:focus{
outline: none; 
border: none; 
border-bottom: blue 2px solid;
color: black;  
}

input:focus::placeholder{
color: rgb(70, 70, 228);  
}
.dates-there{
display: flex;
gap: 1rem  ;
align-items: start;
flex-direction: column;
}
.job-title{
display: flex;
flex-direction: column;  
}
.start-holder{
  display: flex;
}
.end-date{
  display: flex;

  align-items: center;
}